.non-booking {
  margin: 35px;
  text-align: center;
  a {
    font-size: larger;
  }
}

.booking {
  min-height: 80vh;
}

.booking-list {
  li {
    list-style: none;
    background-color: #e7eff4;
    margin: 6px;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .booking-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    p {
      margin: 0;
    }
    .delete a {
      font-weight: normal;
      color: orange;
    }
  }
}
