<div class="container">
  <h1>Index</h1>
  <h2>Hear is yours unicorns selections:</h2>

  <%= link_to "create yourt Unicorn", new_unicorn_path %>


  <div class="card-container">
    <% @unicorns.each do |unicorn| %>
      <%= render "unicorn_card", unicorn: unicorn %>
    <% end %>
  </div>

</div>
