<div class="container" data-controller="timer">

<div class="btn btn-primary" data-action="click->timer#startTimer">LET'S GO</div>

<h3>JS Timer</h3>
<div id="timer" data-timer-target="timer"><%= @timer %></div>

<div class="btn btn-primary" data-action="click->timer#stopTimer">STOP</div>


</div>
