<footer>
  <div class="footer">
    <div class="footer-texte">
      <h3>This demo site is code with Ruby on rails</h3>
      <p>with: Devise / Pundit / Flatpickr / Simple form / Bootstrap / Faker</p>
    </div>
    <div class="footer-links">
      <h5>You can find me on:</h5>
      <a href="https://github.com/LFSchefer" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/lfschefer/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</footer>
