.unicorn-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.4s;
}

.unicorn-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.unicorn-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.unicorn-card a {
  text-decoration: none;
  color: black;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}


.unicorn-card .unicorn-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: #eeeeee;
}

.unicorn-card-infos .unicorn-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.unicorn-card:hover {
  box-shadow: 0 0 15px rgba(242, 0, 255, 0.3);
  animation: color 2.5s ease infinite;
  scale: 1.02;
  .unicorn-name {
    background-image:
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,rgb(238, 130, 130));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  animation: move 50s linear infinite;
  }
}


@keyframes move {
  to {
      background-position: 2500vh;
  }
}

@keyframes color {

  0% {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
  }
  25% {
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 15px rgba(140, 255, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 15px rgba(0, 162, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 15px rgba(221, 0, 255, 0.3);
  }
}
